
@{
    ViewBag.Title = "Index";
}

<h2>Periodo</h2>
<link href="~/Content/datatables.css" rel="stylesheet" />
<label>Ingrese nombre Periodo</label>
<input type="text" id="txtNombre"/>

<div id="tablaPeriodo">

</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Periodo.js"></script>
<script src="~/Scripts/datatables.min.js"></script>